$primaryColor : linear-gradient(90deg, #fa482e, #f32f27);
$secondary : #eceff1;
$grey: #505766;
//hover
$primary-button-bg-color-hover: linear-gradient(90deg, #f32f27, #fa482e);
$font-size: 12px;

.ac-btns{
    .ac-btns-item{
        margin-right: 8px;
        cursor: pointer;
    }
    span.ac-btns-item{
        color: #0073e1;
        font-size: $font-size;
        &[disabled]{
            color: #dfe1e6;
        }
    }
    button.ac-btns-item.wui-button{
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
        font-size: $font-size;
        min-width: 60px;
        min-height: 30px;
        padding: 0 10px;
        min-height: 30px;
        line-height: 30px;
        transition: all .3s cubic-bezier(.645,.045,.355,1);
        &.wui-button-sm{
            min-width: 44px;
            min-height: 22px;
            line-height: 22px;
        }
        &:last-child{
            margin-right: 0;
        }
        &.ac-btns-write{
            box-shadow: none;
            border-color: #d9d9d9;
            color: #535a69;
            background-color: #fff;
            font-weight: 500;
            &:hover{
                color: #505766;
                border-color: #505766;
                background-color: unset;
                z-index: 2;
            }
        }
        &.wui-button-primary{
            background: $primaryColor;
            color: #fff;
            border: none;
            box-shadow: none;
            height: 30px;
            line-height: 30px;
            &:hover{
                background: $primary-button-bg-color-hover;
                color: #fff;
            }
        }
        &.wui-button-secondary{
            background-color: $secondary;
            color: #212121;
            border: 1px solid $secondary;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
            &:hover{
                border: 1px solid #dfe1e6;
                background-color: #dfe1e6;
                color: #212121;
            }
        }
        &.ac-btns-write.wui-button-dark{
            background-color: $grey;
            color: #fff;
            border: 1px solid $grey;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
            &:hover{
                border: 1px solid #616875;
                background-color: #616875;
                color: #fff;
            }
        }
        &.ac-btns-search,&.ac-btns-clear, &.ac-btns-empty,
        &.ac-btns-first,&.ac-btns-previous,&.ac-btns-next,&.ac-btns-last,
        &.ac-btns-max,&.ac-btns-min{
            min-width: 30px;
            padding: 0;
            line-height: 30px;
            color: #111;
            background-color: #fff;
            height: 30px;
        }
        &.ac-btns-add{
            .uf{
                font-size: $font-size;
                padding: 0;
                margin-right: 3px;
            }
        }
        &.ac-btns-search{
            background: $primaryColor;
            color:#fff;
            min-width: 52px;
            position: relative;
            top: 1px;
        }
        &.ac-btns-empty,&.ac-btns-clear,&.ac-btns-search,&.ac-btns-max,&.ac-btns-min{
            .uf{
                font-size: 18px;
                position: relative;
                top: 2px;
            }
        }
        &.wui-button[disabled],&.wui-button[disabled]:hover{
            border: 1px solid #d9d9d9;
            color: rgba(0,0,0,.25);
            background: #f7f7f7;
            box-shadow: none;
        }
        
    }
    //type='icon'
    .icon{
        &.ac-btns-add,
        &.ac-btns-update,
        &.ac-btns-delete{
            color: $primaryColor;
            .uf{
                padding: 0;
            }
        }
    }
    
}

.wui-button-group{
    .ac-btns{
        .wui-button{
            float: left;
            min-width: 25px;
            margin-right: 0;
        }
        .wui-button:first-child{
            margin-left: 0;
        }
        .wui-button:first-child:not(:last-child):not(.dropdown-toggle){
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
        .wui-button:not(:first-child):not(:last-child):not(.dropdown-toggle){
            border-radius: 0;
        }
        .wui-button:last-child:not(:first-child){
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
        .wui-button-border+.wui-button-border,
        .wui-button-border+.wui-button-group,
        .wui-button-group+.wui-button-border,
        .wui-button-group+.v-group{
            margin-left: 1px;
        }

        .wui-button+.wui-button,
        .wui-button+.wui-button-group,
        .wui-button-group+.wui-button,
        .wui-button-group+.v-group{
            margin-left: -1px;
        }
    }
}

.ac-btns-dropdown{
    .wui-dropdown-menu>.wui-dropdown-menu-item-selected{
        color: #000;
        background-color: #fff;
    }
    .wui-dropdown-menu>.wui-dropdown-menu-item-selected:hover{
        background-color: #ebecf0;
    }
    //type='icon'
    .icon{
        &.ac-btns-add,
        &.ac-btns-update,
        &.ac-btns-delete{
            color: $primaryColor;
        }
    }
}